<% @title = 'Ratethenight.com' %>
<h1>Welcome to Ratethenight</h1>
<b><p1>List of Venues</p></b>

<%= link_to 'Glo Nightclub', "/venues/1" %></br>
<%= link_to 'Sugar Dining Den & Social Club', "/venues/2" %>

